<div class="productMatch">
	<a href="detail?curPage=orderByStyle&Id=<%=data1['Id'] %>" class="block">
	<div class="productTop">
		<div class="productNumMatch">编号：<%=data1['Id'] %></div>
		<div class="priceMatch">￥ <%=data1['Price'] %></div>
	</div>
	
	<div class="productPicMatch">
	
		<img src="<%=data1['Pictures'].split(',')[0] %>" class="matchPicture">
	</div>
	</a>
</div>