<div class="product">
	<a href="detailDisplay?Id=<%=data[i]['Id'] %>" class="block">
	<div class="productPic">
		<img src="<%=data[i]['PlacePicture'] %>" class="productPic">
	</div>
	<div class="productBottom">
		<div class="productNum">编号：<%=data[i]['Id'] %></div>
		<div class="productStyle"><%=data[i]['Place'] %>陈列</div>
	</div>
	</a>
</div>