<div class="product">
	<a href="detailMatch?Id=<%=data[i]['Id'] %>" class="block">
	
	
	<div class="productPic">
		<img src="<%=data[i]['MatchPicture'] %>" class="productPic">
	</div>
	<div class="productBottom">
		<div class="productNum">编号：<%=data[i]['Id'] %></div>
		<div class="productStyle"><%=data[i]['Name'] %></div>
	</div>
	</a>
</div>