<footer>
	<div class="container">
		<div class="footer-top">
			<div class="col-sm-6 col-sm-6-left">
				<div class="footerH2color">
					<h2 class="footer">
					易订宝
					</h2>
				</div>
				<p>网页相关制作人：XXX  <br>特别鸣谢：<a href="http://www.bootcss.com/" class="footer">Bootstrap中文网</a></p>
			</div>
			<div class="col-sm-6">
				<div class="row about">
					<div class="col-xs-3">
						<h4 class="footer">关于</h4>
						<ul class="list-unstyled">
							<li><a href="#" class="footer">关于我们</a></li>
							<li><a href="#" class="footer">广告合作</a></li>
							<li><a href="#" class="footer">友情链接</a></li>

						</ul>
					</div>
					<div class="col-xs-3">
						<h4 class="footer">联系方式</h4>
						<ul class="list-unstyled">
							<li>11111111111</li>
							<li><a href="mailto:911306137@qq.com" class="footer">电子邮件</a></li>
						</ul>
						</div>
					<div class="col-xs-3">
						<h4 class="footer">旗下网站</h4>
						<ul class="list-unstyled">
							<li><a href="" target="_blank" class="footer"></a></li>
							<li><a href="" target="_blank" class="footer"></a></li>
						</ul>
					</div>
					<div class="col-xs-3">
						<h4 class="footer">赞助商</h4>
						<ul class="list-unstyled">
							<li><a href="#" target="_blank" class="footer">ZNZUK</a></li>
							<li><a href="#" target="_blank" class="footer"></a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
		<hr>

	</div>
</footer>