<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title ><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />

	<script type="text/javascript">
	function pwdOnblurClass()
	{
		document.getElementById("passwordInput").className = "inputPassword";
		document.getElementById("passwordInput").placeholder = "请输入密码";
	
	}

	</script>
</head>
<body class="indexBackground">

<div class="global">
	<div class="indexHeader">
		<div class="indexTitltWords">
		<h1 class="headTitle" >易订宝</h1>
		</div>
	</div>
	<div class="indexLoginArea" >
		<div class="indexLoginDiscribe">
			<div class="indexWords1">安心</div>
			<div class="indexWords2">高效</div>
			<div class="indexWords3">省心</div>
			<div class="indexWords4">省力</div>
			<div class="indexWords1">安心</div>
			<div class="indexWords2">高效</div>
			<div class="indexWords3">省心</div>
			<div class="indexWords4">省力</div>
			<div class="indexWords1">安心</div>
			<div class="indexWords2"></div>
	
		</div>
		<div class="indexLoginForm">
			<div class="loginInput">
				<form class="login" method="POST" action = "login">
					<div class="inputName">
						<label>贵宾名：</label>
						<input type="text" name="LoginUserName" id="usernameInput" class="inputName" placeholder="请输入贵宾名" id="usernameInput" value="<%=LoginUserName %>" required = "true">
					</div>
					
					<div class="inputPassword" >
						<label>&nbsp&nbsp 密码：</label>
						<input type="password" class="<%= inputClass %>" name="password"  placeholder="<%= passwordState %>" onblur="pwdOnblurClass()" id="passwordInput" required = "true"></input>
					</div>

					<div class="buttonLogin">
						<button class="loginButton" >登陆</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- <div class="indexFooter">
		
		<div class="indexFooter_2">Copyright @ 2014 杭州快邦网络科技有限公司 zylq</div>
	</div> -->
</div>
</body>
</html>
