<div class="menu">
	<a href="orderBudget?budgetType=SerialOrderBudget" class="list-group-item">订单预算</a>
	<a href="#" class="list-group-item">轻松订货
	<a href="orderByStyle" class="list-group-item">按款订货</a>
	<a href="orderByMatch" class="list-group-item">搭配订货</a>
	<a href="orderByDisplay" class="list-group-item">陈列订货</a>
	<a href="alReadyOrdered" class="list-group-item">已订款</a>
	<a href="notOrder" class="list-group-item">未定款</a>
	<a href="invalidPd" class="list-group-item">下架款</a>
	<a href="show" class="list-group-item">现场Show</a>
	<a href="collectionSet" class="list-group-item">我的收藏</a>
	<a href="deleted" class="list-group-item">我的删除</a>
	<a href="#" class="list-group-item">查看订单</a>
	<a href="myOrder" class="list-group-item">我的订单</a>
	<a href="orderAnalyzing" class="list-group-item">订单分析</a>
	<a href="universalAnalysis" class="list-group-item">万能分析</a>
	<a href="goldAgent" class="list-group-item">金牌代理</a>		
</div>