<div class="nav">
	<a href="orderByStyle"><div class="masterName">欢迎您，<%= Name %></div></a>
	<div class="masterBill">  </div>
	<a href="logout"> <div class="masterLogout">[注销]</div></a>
</div>
<div class="billRank" id="billRank">
易订宝
</div>