<!DOCTYPE html>
<html>
<head>
	<title>易订宝</title>
	<meta charset="utf-8"/>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/ad.js"></script>
</head>
<body>
<div class="global">
	<% include nav %>
	<% include searchColumn %>
	<div class="main">
		<% include menu %>
		<div class="productsList">
			
			<% var pageNum = Math.ceil(data.length/pageLength); if(page > pageNum){ page = pageNum; }%>
			<% if( data.length == 0) { %>
			<%  include notFound %>
			
			<% } else {  for(var i = (page-1)*pageLength;i<page*pageLength && i <data.length ;i++){ %>
			<% include blockOrderByDisplay %>
			<% } %>  <% include page %>  <% } %>
			
			
		</div>
	</div>
</div>

</body>
</html>
