<!DOCTYPE html>
<html>
<head>
	<title>易订宝</title>
	<meta charset="utf-8"/>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/ad.js"></script>
</head>
<body>
<div class="global">
	<% include nav %>
	<div class="main">
		<div class="orderAnalyzing">
			<div class="budgetLeft">
				
					<div class="budgetItem">项目内容</div>
					<div class="budgetItem"><a href="orderAnalyzing?analyzingType=SerialOrderAnalyzing">主题分析</a></div>
					<div class="budgetItem"><a href="orderAnalyzing?analyzingType=MucaiOrderAnalyzing">波段分析</a></div>
					<div class="budgetItem"><a href="orderAnalyzing?analyzingType=ClassOrderAnalyzing">品类分析</a></div>
					<div class="budgetItem"><a href="orderAnalyzing?analyzingType=TypeOrderAnalyzing">款别分析</a></div>
					
					<div class="budgetItem"><a href="orderAnalyzing?analyzingType=PricezoneOrderAnalyzing">价格带分析</a></div>

			</div>
			<table class="orderAnalyzing">
				<tr>
					
					<td class="tdTextCenter">名称</td>
					<td class="tdTextCenter">订款量/占比</td>
					<td class="tdTextCenter">SKU/占比</td>
					<td class="tdTextCenter">顶数量/占比</td>
					<td class="tdTextCenter">金额/占比</td>
					<td class="tdTextCenter">公司指引</td>
					<td class="tdTextCenter">自定义预算</td>
				</tr>
				
				<% var analyzingType = "SerialOrderGuide";
				switch(analyzingType)
				{
					case 'SerialOrderAnalyzing':
						analyzingType = "SerialOrderGuide";
						break;
					case 'TypeOrderAnalyzing':
						analyzingType = "TypeOrderGuide";
						break;
					case 'ClassOrderAnalyzing':
						analyzingType = "ClassOrderGuide";
						break;
					case 'MucaiOrderAnalyzing':
						analyzingType = "MucaiOrderGuide";
						break;
					case 'PricezoneOrderAnalyzing':
						analyzingType = "PricezoneOrderGuide";
						break;
				}
				var Analyzing = userInfo[0][analyzingType].split(',');

				var guide = guideInfo[0][analyzingType].split(',');
				
				for(var i = 0;i<Analyzing.length;i++)
				{
					Analyzing[i] = Analyzing[i].split(':');
					var curAnalyzingPercent = Analyzing[i][1];
					Analyzing[i][1] =  Analyzing[i][1].substr(0,Analyzing[i][1].length-1);
					
					var curAnalyzing = Math.round(Number(Analyzing[i][1])/100 * userInfo[0]['AnalyzingAmount']);
					var curAnalyzingName = Analyzing[i][0];
					var curGuide = "";
					for(var j = 0;j<guide.length;j++)
					{
						if(guide[j].split(':')[0] == Analyzing[i][0] )
						{
							curGuide = guide[j].split(':')[1];
							break;
						}
					}
					
					
				%>
				<tr>
					
					<td class="tdTextCenter"><%=curAnalyzingName %></td>
					<td class="tdTextCenter"><%=curGuide %></td>
					<td class="tdTextCenter"><%=curAnalyzing %>万</td>
					<td class="tdTextCenter"><%=curAnalyzingPercent %></td>
					
				</tr>
				<% }%>
				
			</table>
			<div id="save" style="text-align:center">保存</div>
		</div>
		
		<% include menu %>
	</div>
</div>

</body>
</html>
