<!DOCTYPE html>
<html>
<head>
	<title>易订宝</title>
	<meta charset="utf-8"/>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script type="text/javascript" src="/javascripts/main.js" ></script>
</head>
<body>
<div class="global">
	<% include nav %>
	<% include menu %>
	
	<div class="main">
		
		
		
	</div>
</div>

</body>
</html>
